@import url("https://fonts.googleapis.com/css?family=Inter:400,300,700,600|Indie+Flower:400");

body {
    background-size: cover;
    font-size: 10px;
    font-family: "Inter";
}

.veterinaire {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.veterinaire .veterinaire__header {
    align-self: flex-end;
    font-size: 1.3rem;
}

.veterinaire .veterinaire__page {
    display: flex;
    flex-direction: column;
}

.veterinaire .veterinaire__nav {
    display: flex;
    font-size: 1.5rem;
}

.veterinaire .veterinaire__nav a,
.veterinaire .veterinaire__nav a:visited {
    text-decoration: none;
    color: black;
}

.veterinaire .veterinaire__nav--top {
    display: flex;
}

.veterinaire .veterinaire__nav--bottom {
    display: flex;
}