{% extends 'client/base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/client/client_animals.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    Mes animaux
{% endblock %}

{% block body %}
    <div class="nav_animals">
    {% for animal in animals %}
        <div class="animals">
           
            <div class="decoration">
                <h1>{{ animal.name }}</h1>
                
            </div> 
        </div> 
    {% endfor %}
    </div>
{% endblock %}
