{% extends 'client/base.html.twig' %}
{% block stylesheet %}
<link href="{{ asset('css/client/client_animals.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Mes animaux{% endblock %}

{% block body %}
    <h1>Test</h1>
    <div class="nav_animals">
    {% for animal in animals %}
        <div class="animals">
            <h1>{{ animal.name }}</h1>
        <div class="decoration">
        </div> 
        </div> 
    {% endfor %}
    </div>
{% endblock %}
