{% extends 'client/layout/base.html.twig' %}

{% block title %}Informations client
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/client/informations.css">
{% endblock %}

{% block body %}

	<div class="bloc_contenu">
        <div class="arrondi_deco">
            
        </div>
    </div>

{% endblock %}