.title {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    background-color: #F8D671;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    font-size: 36px;
    padding: 0.5em;
}

.intro {
    background-color: #F8D671;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}
.lien {
    background-color: #F8D671;
    margin: 0;
    font-size: 20px;
}

.firstD {
    background-color: #F8D671;
}

.faqD {
    display: flex;
    flex-direction: column;
    
    font-size: 20px;
    width: auto;
}
.detone {
    background-color: white;
    justify-content: center;
    margin-bottom: 1.5em;

}

details {
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 1em 0.5em .5em;
    margin: 10px;
    background-color: white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.patte1 {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.patte2 {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.souspatte {
    width: 40%;
    display: flex;
    z-index: -1;
    opacity: 60%;
    position: absolute;
    padding: 1em;
}

.souspatte2 {
    transform: rotate(0.15turn);
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: 0.5em 0.5em 1em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 1em;
}

@media (min-width: 769px) {
    details {
        
        display: flex;
        border: 1px solid #aaa;
        border-radius: 8px;
        padding: 1em 0.5em 0.5em;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .intro {
        background-color: #F8D671;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 2em;
    }
    .lien {
        background-color: #F8D671;
        margin: 0;
        font-size: 32px;
    }

    .faqD {
        display: flex;
        flex-direction: column;

        font-size: 26px;
        justify-content: center;
    }
    
    .souspatte {
        width: 30%;
    }
}