html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 10px;
}
  
header {
    font-size: 2.6rem;
    background-color: #F8D671;
    padding-top: 2rem;
    padding-bottom: 20rem;
}
h1.title {
    font-weight: bold;
    text-decoration: underline;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}
