html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 10px;
}

.title {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    background-color: #F8D671;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    font-size: 36px;
}

.intro {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0;
    column-gap: 5px;
    row-gap: 32px;
}


.faqD {
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: 52px;
    font-size: 26px;

}
details {
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 1em 0.5em .5em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: 0.5em 0.5em 1em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 1em;
}
@media (min-width: 769px) {
    details {
        width: 50%;
    }
}