/* Notre histoire */
.notre_histoire {
    display: flex;
    flex-direction: column;
}

.notre_histoire_texte {
    display: flex;
    flex-direction: column;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.notre_histoire_title {
    font-weight: 400;
}

.notre_histoire_paragraphe {
    letter-spacing: 0;
    line-height: normal;
    text-align: justify;
}

img {
    width: 90%;
    height: auto;
    margin: 1em;
}


/* Paragraphe bien être */
.paragraphe_bien_etre {
    letter-spacing: 0;
    line-height: normal;
    text-align: justify;
    font-family: "Inter";
    font-style: normal;
}


@media(min-width: 375px) {
    .notre_histoire {
        flex-direction: row;
    }

    .paragraphe_bien_etre {
        font-size: 27px;
    }
}


@import url("https://fonts.googleapis.com/css?family=Inter:400,300,700,600|Indie+Flower:400");