/* Notre histoire */
.notre_histoire {
    display: flex;
    flex-direction: row;
    padding: 1em 1em 1em 1em;
    align-items: center;
}

.notre_histoire_texte {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
}

.notre_histoire_title {
    font-weight: 400;
    line-height: normal;
    margin-left: 1px;
    min-height: 44px;
}

.notre_histoire_paragraphe {
    letter-spacing: 0;
    line-height: normal;
    text-align: justify;
}

.image_clinique > * {
    max-width : 434px;
    max-height : 289px;
    padding: 2em;
}
/* Regarder pour mettre les infos de l'image de la clinique */