@import url("https://fonts.googleapis.com/css?family=Inter:400,300,700,600|Indie+Flower:400");

body {
    margin: 0;
    padding: 0;
}

body > * {
    padding: 0.7em;
}

/* Notre histoire */
.notre_histoire {
    display: flex;
    flex-direction: column;
    background-color: #F8D671;
    
}

.notre_histoire_texte {
    display: flex;
    flex-direction: column;
}

.notre_histoire_title {
    font-size: 1.9459vw;
    font-weight: 400;
}

.notre_histoire_paragraphe {
    line-height: normal;
    text-align: justify;
    font-size: 1.3vw;
}

.formatage_texte {
    font-family: "Inter";
}

img {
    width: 90%;
    max-width: 434px;
    height: auto;
    margin: 1em;
}


/* Paragraphe bien être */
.paragraphe_bien_etre {
    line-height: normal;
    text-align: justify;
    font-size: 1.3vw;
}

/* Paragraphes 1, 2 et 3 */
.number1,
.number3 {
    font-family: "Indie Flower";
    font-size: 5.189vw;
    margin: 0%;
}

.number2 {
    font-family: "Indie Flower";
    font-size: 5.189vw;
    margin: 0%;
    display: flex;
    flex-direction: row-reverse;
}

.titre_p {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-family: "Indie Flower";
    text-decoration: underline;
    color: rgba(46, 167, 182, 1);
    font-weight: 400;
    font-size: 1.9459vw;
}

.p_texte {
    background-color: rgba(248, 250, 255, 1);
    box-shadow: 0px 4px 4px #00000040;
}

.formatage_texte_paragraphe {
    font-family: "Indie Flower";
    font-size: 1.9459vw;
    margin: 0.5em;
    font-weight: 400;
    text-align: justify;
}



@media(min-width: 769px) {
    .notre_histoire {
        flex-direction: row;
    }
    
    .texte_image_p1, .texte_image_p3 {
        display: flex;
        flex-direction: row;
    }

    .texte_image_p2 {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* Définition de la taille des textes pour les smartphones et tablettes */
@media(max-width: 769px) {
    .notre_histoire_title {
        font-size:x-large ;
    }
    
    .notre_histoire_paragraphe, .paragraphe_bien_etre {
        font-size: medium;
    }

    .titre_p, .formatage_texte_paragraphe {
        font-size: 20px;
    }
    
    .number1, .number2, .number3 {
        font-size: 65px;
    }
}