body {
  height: 100vh;
  background: linear-gradient(180deg, #f8e7c1 10%, #f5bd89 100%);
  background-image: url("/images/background_client.png");

  padding: 30px;
}

* {
  box-sizing: border-box;
}

.header__bar a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
  padding: 30px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__container h1 {
  font-size: 4rem;
  font-weight: bold;

  margin: 5%;
}

.form_login {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 600px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  font-size: 2rem;
  color: gray;
}

.field input {
  background-color: #1b4758;
  color: rgba(255, 255, 255, 0.89);

  border-radius: 12px;
  border-style: hidden;
  height: 30px;

  padding: 5px;
}

.field input::placeholder {
  color: rgba(245, 245, 245, 0.473);
}

.form_login .parameter {
  display: flex;
  flex-direction: row;
}

.form_login .btn[type="submit"] {
  background-color: #1ac474;
  color: white;
  border: none;
  height: 30px;
  border-radius: 12px;
}

.txt_register a {
  text-decoration: none;
  font-size: 2rem;
}

.inline_row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
