{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css')}}">
{% endblock %}

{% block body %}

    <header>
        <nav>
            <a href="{{ path('app_vetelib') }}">Accueil</a>
        </nav>
    </header>

    <main class="main_form">
        <h1>Connectez-vous</h1>

        <form action="{{ path('app_login') }}" method="post" class="form_login">
            <input type="text" name="username" id="username" class="input input_username">
            <input type="password" name="password" id="password" class="input input_password">

            <div class="parameter">
                <label for="remember_me">
                    <input type="checkbox" name="remember" id="remember">
                    Se souvenir de moi
                </label>

                <p><a href="/">Mot de passe oublié</a></p>    
            </div>
        
            <button type="submit" name="login" class="input">Se connecter</button>
            <button type="submit" name="register" class="input">S'inscrire</button>
        </form>
    </main>    

{% endblock %}
