body{
    display: flex;
    flex-direction: column;
}
a {
    color: inherit; 
    text-decoration: none; 
  }
  

.scrolling{
    display: flex;
    overflow-x: scroll;
    /* min-width: fit-content; */
}

.nav_animal{
    display: flex;
    flex-direction: row;
    row-gap: 5%;
    
}

.decoration {
    display: flex;
    background-color: #32A4BD;
    border-radius: 49px 49px 0px 0px;
    padding-top: 5px;
    padding-bottom: 2px;
    width: 100%;
    justify-content: space-around;
  }

  

.decoration h1 {
    text-align:left;
    width: max-content;
    /* padding-left: 1rem; */
    display: inline;
    color: white;
}

.animals{
    margin-top: 5%;
    border-radius: 20px 20px 0px 0px;
    margin-right: 7%;
    margin-left: 5%;
    display: flex;
    width: 90%;
    min-width: 120px;
    background-color: white;
    flex-direction: column;
}

.animals h2 {
    text-align: left;
    padding: 1rem;
}

.main-content
{   
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}

.main-content h1{
    font-weight: bold;
    text-decoration: underline;
}
