@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-size: 1.2rem;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}


.scrolling {
    display: flex;
    overflow-x: scroll;
    /* min-width: fit-content; */
}

.nav_animal {
    display: flex;
    row-gap: 10%;
    }
.animals {
    border-radius: 20px 20px 10px 10px;
    margin-right: 1%;
    /* margin-left: 5%; */
    display: flex;
    width: 90%;
    min-width: 200px;
    background-color: white;
    flex-direction: column;
}


.decoration {
    background-color: #32A4BD;
    border-radius: 20px 20px 0px 0px;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.decoration_bloc_principal {
    background-color: #32A4BD;
    border-radius: 49px 49px 0px 0px;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: white;
    font-family: "Inter";
    margin-bottom: 0.7rem;
}
.decoration_bloc_principal p{
    text-align: center;
}
.decoration h1 {
    text-align: left;
    width: max-content;
    padding-left: 1rem;
    display: inline;
    color: white;
}

.decoration p {
    position: right;
}


.animals h2 {
    text-align: left;
    padding: 1rem;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: white;
    border-radius: 49px 49px 20px 20px;
    margin: auto;
    align-items: flex-start;
    flex-grow: 2;
 
}

.main-content h1 {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5%;
    margin-bottom: 5%;
}



br+h1 {
    margin-bottom: 2%;
}

.line {
    width: 95%;
    height: 2px;
    background-color: #32A4BD;
    ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.historique_rdv {
    width: 80%;
    display: flex;
    flex-direction: column;
}

ul.appointments>li {
    font-size: 1.4rem;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 0.5em 0.5em 0.5em;
    margin: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    row-gap: 50%;
    justify-content: space-between;
}

.appointments p {
    margin-right: 1rem;
}

li p:nth-child(2) {
    font-weight: lighter;
}

.delete {
    /* background-color: red; */
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: 15%;
}

.bouton_ajout {
    background-color: #2EA7B6;
    border: none;
    color: white;
    padding: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    transition-duration: 0.3s;
    border-radius: 6px;
    max-width: 13rem;
    margin-bottom: 1rem;
}


.bouton_ajout:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.name {
    margin-left: 2rem;
}

.species {
    text-align: start;
}
.rdv{
    border-radius: 5px;
    /* margin-right: 5%; */
    /* margin-top: 5%; */
    display: flex;
    margin-left: 2rem;
    align-items: flex-end;
    margin-bottom: 5%;
}
@media(min-width: 690px) {
       
    body {
        font-size: 1.8rem;
    }

    .decoration_bloc_principal {
        font-size: 2.2rem;
    }

    .bouton_ajout {
        font-size: 2rem;
    }
   
}

@media(max-width: 900px) {
    .scrolling {
        display: flex;
        overflow: auto;
    }
}
.rdv >a{
    background-color: #2EA7B6;
    border-radius: 2px;
}

    

