.bloc_contenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 52rem;
}

.fond_blanc {
    background-color: white;
    border-radius: 49px 49px 49px 49px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

.arrondi_deco {
    background-color: #32A4BD;
    border-radius: 49px 49px 0px 0px;
    height: 60px;
    width: 100%;
}


.formulaire_lastname,
.formulaire_firstname,
.formulaire_email,
.formulaire_phone,
.formulaire_birthdate,
.formulaire_city,
.formulaire_zipcode,
.formulaire_address {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.formulaire_lastname_widget,
.formulaire_firstname_widget,
.formulaire_email_widget,
.formulaire_phone_widget,
.formulaire_birthdate_widget,
.formulaire_city_widget,
.formulaire_zipcode_widget,
.formulaire_address_widget {
    margin-top: 0.5rem;
}

button {
    background-color: #2EA7B6;
    border: none;
    color: white;
    padding: 1.2rem;
    text-align: center;
    font-size: 16px;
    margin-top: 2rem;
    margin-left: 2rem;
    transition-duration: 0.3s;
    border-radius: 6px;
    max-width: 13rem;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}