.bloc_contenu {
    display: flex;
    justify-content: center;
    height: 50rem;
}

.fond_blanc {
    background-color: white;
    width: 85%;
    border-radius: 49px 49px 49px 49px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.arrondi_deco {
    background-color: #32A4BD;
    border-radius: 49px 49px 0px 0px;
    height: 60px;
    width: 100%;
  }
