.bloc_contenu {
    display: flex;
    justify-content: center;
    height: 50rem;
}

.fond_blanc {
    background-color: white;
    width: 85%;
    border-radius: 49px 49px 49px 49px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.arrondi_deco {
    background-color: #32A4BD;
    border-radius: 49px 49px 0px 0px;
    height: 60px;
    width: 100%;
  }


.formulaire_lastname, .formulaire_firstname, .formulaire_email, .formulaire_phone, .formulaire_birthdate, .formulaire_city, .formulaire_zipcode, .formulaire_address {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
