table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  overflow: hidden;
}

table caption {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

thead th {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: aliceblue;
}

tbody tr:hover {
  background-color: aquamarine;
}

th,
td {
  padding: 20px;

  border-bottom: 1px solid #ddd;

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

  height: 90px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

td.actions {
  user-select: none;
}