html, body {
  box-sizing: border-box;
  padding: 0px;
  font-size: 16px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

main {
  overflow-y: scroll;
  height: 80vh;

  border-radius: 2rem 0 0 2rem !important;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 60px;
}