<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Nous connaitre</title>
		<link rel="stylesheet" href="/css/info_clinique.css">
	</head>
	<body>
		<div class="notre_histoire">
			<span class="image_clinique" ><img src="/images/Image de clinique.png" alt="Image représentant une clinique vétérinaire"></span>
			<div class="notre_histoire_texte">
				<h1 class="notre_histoire_title">Notre histoire</h1>
				<p class="notre_histoire_paragraphe">Notre cabinet vétérinaire a été conçu en 2007 et est situé 51 rue des tournesols à Reims. Nous avons l’ambition de se différencier des autres structures préexistantes avec une grande accessibilité et des soins animaliers plus que satisfaisants. Vous pourrez nous faire amplement confiance quand vous nous donnerez la responsabilité de vos animaux, car leur bien-être est la chose que nous chérissons le plus ici.  Si l'envie vous viens de rester le temps des traitements de votre animal vous aurez à disposition une salle d'attente vous permettant d’observer les soins prodigués à votre animal. Cette transparence nous incite à une rigueur permanente.</p>
			</div>
		</div>
		<p class="paragraphe_bien_etre">Pour nous, le bien être animal est notre préocupation absolu. Ainsi, nous posssédons 3 valeurs fondamentales à nos yeux afin d’accompagner les soins de votre compagnon, tout en proposant une expérience et une utilisation simple pour vous. Ainsi, tout le parcours de la prise de rendez-vous jusqu’à la fin des soins est simplifié pour vous permettre une meilleur expérience parmis nous.</p>

		<div class="paragraphe1">
			<main class="texte">
				<h2>01</h2>
				<h3>Acessibilité :
				</h3>
				<p>Nous souhaitons que toutes les petites bêtes peu importe la condition de leurs maitres puisse obtenir des rendez-vous , nous savons qu'il n'est pas toujours facile de prendre un rendez au téléphone ou sur place. Grace à l'application, les problèmes s'envolent et permettent d'assurer une bonne santé à nos animaux préférés
				</p>
			</main>
			<img src="/images/Image de chat.jpg" alt="Gros plan d'un chat tout mignon" width="449px" height="301px">
		</div>
		<div class="paragraphe2">
			<img src="/images/equipe veterinaire.jpg" alt="Equipe vétérinaire en train de soigner un chien" width="341px" height="468px">
			<div class="p2_texte">
				<h2>02</h2>
				<h3>Votre animal, notre priorité :</h3>
				<p>Nous accordons une importance capitale à vos petits compagnons. Leurs bien-être et leur santé sont nos préoccupations principales. Nous leur réservons donc nos meilleurs soins, avec toute une équipe à leur disposition. Nous effectuons un suivi personnalisé pour chacun d’entre eux.
				</p>
			</div>
		</div>
		<div class="paragraphe3">
			<h2>03</h2>
			<h3>Un espace complet pour les maîtres :</h3>
			<p>Tout un espace vous est réservé également pour toutes éventuelles questions (espace FAQ). Cela peut vous permettre de vous renseigner lorsque vous avez un doute, permettant de savoir rapidement quoi faire en cas de problème. Si d’autres questions vous viennent sans réponse donnée, n’hésitez pas à prendre rendez-vous avec nous ! Nous serons ravis de vous aider</p>
			<img src="/images/Medecin a l'ecoute.jpg" alt="Dessin d'un vétérinaire à l'écoute du client" width="514px" height="331px">
		</div>
	</body>
</html></div></body></html></body></html></body></html>
